 body {
             font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Sans-Serif;
            color: #3D3D3D;
            /*background-color:#DAD8B7;*/
            line-height: 28px;
            background: #f8f7f3;
            margin:0;
        }


.page__header {
  box-shadow: 0 2px 10px 0px #777777, 0 -1px 0 rgba(255, 255, 255, 0.16) inset;
  background-color: #1382ad;
  border-bottom: 1px solid #006186;
  margin-bottom: 50px;
  padding: 1.15em 10%;
  text-align: center;
}
.page__header p {
  margin-bottom: 0;
}



.page__title {
  color: #fff;
}

.page__title {
font-family: 'Bubblegum Sans', cursive;
  font-size: 2.25em;
  font-weight: normal;
  left: -28px;
  line-height: 1em;
  margin-bottom: .25em;
  position: relative;
  text-shadow: 0 -1px 0 #006186;
}

#icerik {
     
  background-color: #fff;
  border: 1px solid #e5e2d3;
  border-radius: 6px;
 
  padding: 20px;
     margin: 0 auto;
           width: 60%;
}

    figure img {
            width: 80%;
        }

        figcaption {
            display: block;
        }


        code {
            font-size: 20px;
        }






        /*scroll******************************/





